@import "../variables";

.button {
  cursor: pointer;
  padding: 10px;
  border: 2px solid $primaryDark2Color;
  color: $primaryDark2Color;
  background: none;
  text-decoration: none;
  margin: 1rem;
  transition: ease-in-out 0.1s;
  font-weight: bold;
  &:hover,
  &:focus,
  &:active {
    color: $actionColor;
    border-color: $actionColor;
  }
}
.button_secondary {
  cursor: pointer;
  padding: 10px;
  border: none;
  color: $secondaryLight1Color;
  background: none;
  text-decoration: none;
  margin: 1rem;
  transition: ease-in-out 0.1s;
  font-weight: bold;
  font-size: 1.2rem;
  &:hover,
  &:focus,
  &:active {
    color: lightgray;
    border-color: lightgray;
  }
}
