@import "../variables";

.ReposContainer {
  min-width: 50vw;
  height: 100%;
  padding: 2rem;
  overflow: scroll;
  border-left: 1px solid lightgrey;
  @media screen and (max-width: 900px) {
    min-width: 100vw;
    border: none;
  }
}
